{
    "root": true,
    "env": {
        "node": true,
        "browser": true,
        "es2021": true
    },
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "ignorePatterns": [
        "dist"
    ],
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier"
    ],
    "rules": {
        "no-underscore-dangle": "warn",
        "import/prefer-default-export": "off",
        "import/extensions": [
            "error",
            "always",
            {
                "ignorePackages": true
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_"
            }
        ],
        "@typescript-eslint/no-redeclare": [
            "warn",
            {
                "ignoreDeclarationMerge": true
            }
        ],
        "no-param-reassign": ["error",{"props":false}],
        "@typescript-eslint/no-misused-promises": [
            "error",
            {
                "checksVoidReturn":{
                    "arguments": false
                }
            }
        ]
    }
}